.container {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  font-family: monospace;
  font-size: 14px;
  color: #ffffff;
  background-color: #333;
  flex-direction: column;
}

.entry {
  margin-bottom: 10px;
}
